@media only screen and (max-width: 600px) {
    .navbar {
        margin-bottom: 100px;
        position: fixed;

    }

    .ber {
        color: #CC0000;
        font-style: italic;
        font-size: 30px;
    }

    .ma {
        color: #00009c;
        font-style: italic;
        font-size: 30px;
    }

    .t {
        color: #CC0000;
        font-style: italic;
        font-size: 30px;
    }

    .os {
        color: #00009c;
        font-style: italic;
        font-size: 30px;
    }

}

.navbar {
    position: fixed;
    margin-bottom: 100px;
    background-color: #121417;
}

#navbarCollapse .nav-link {


    color: #0000ff;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.ber {
    color: #CC0000;
    font-style: italic;
    font-size: 30px;
}

.ma {
    color: #0000ff;
    font-style: italic;
    font-size: 30px;
}

.t {
    color: #CC0000;
    font-style: italic;
    font-size: 30px;
}

.os {
    color: #0000ff;
    font-style: italic;
    font-size: 30px;
}

