@media only screen and (max-width: 600px) {

    .bemwelc {
        text-align: center;
        font-size: 35px;
        color: #00009c;
    }

    .navbar {
        margin-bottom: 100px;
        position: fixed;
    }

    .berNav {
        color: #CC0000;
        font-style: italic;
        font-size: 30px;
    }

    .maNav {
        color: #00009c;
        font-style: italic;
        font-size: 30px;
    }

    .tNav {
        color: #CC0000;
        font-style: italic;
        font-size: 30px;
    }

    .osNav {
        color: #00009c;
        font-style: italic;
        font-size: 30px;
    }
}


.bemwelc {
    text-align: center;
    font-size: 35px;
    color: #00009c;
}

body {
    background-color: #9E9E9E;
}

.berwelc {
    color: #CC0000;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}

.mawelc {
    color: #00009c;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}

.twelc {
    color: #CC0000;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}

.oswelc {
    color: #00009c;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}
