@media only screen and (max-width: 600px) {

    .bemwelc {
        text-align: center;
        font-size: 35px;
        color: #0000ff;
    }

}


.bemwelc {
    text-align: center;
    font-size: 35px;
    color: #0000ff;
}

body {
    background-color: #9E9E9E;
}

.berwelc {
    color: #CC0000;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}

.mawelc {
    color: #0000ff;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}

.twelc {
    color: #CC0000;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}

.oswelc {
    color: #0000ff;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}
