@media only screen and (max-width: 600px) {

    .bemwelc {
        text-align: center;
        font-size: 35px;
    }


}


.bemwelc {
    text-align: center;
    font-size: 35px;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
}

.berwelc {
    color: #dd5035;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}

.matoswelc {
    color: #3e59b1;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}
